#menubar {

}
#world {

}
#controls {

}

body {
  font-family: Monospace;
  background-color: #000000;
  margin: 0px;
  overflow: hidden;
}

#info {
  color: #fff;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
}

a {
  color: skyblue
}