body {
  font-family: trebuchet ms, sans;
  margin: 0px;
  background-color: #004426;
  color: #FFFFFF;
  overflow: hidden;
}
#start_menu {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  z-index: 100;
  background-color: #004426;
}
#right_menu {
  position: relative;
  top: 50px;
  left: 80px;
}
#main_logo {
  font-size: 28pt;
  color: #92CC47;
  color: #FFC757;
}
#start_buttons {
  margin-left: 50px;
}
.start_button {
  margin-top: 20px;
  padding: 10px;
  padding-left: 25px;
  border-radius: 12px;
  font-size: 20px;
  width: 120px;
  background-color: #92CC47;
  color: #FFFFFF;
  -moz-box-shadow: 0px 3px 0px 0px #002917;
  -webkit-box-shadow: 0px 3px 0px 0px #002917;
  box-shadow: 0px 3px 0px 0px #002917;
  cursor: pointer;
}

.start_button:hover {
  background-color: #B3FA58;
}

.start_button:active {
  position: relative;
  top: 1px;
  -moz-box-shadow: 0px 2px 0px 0px #002917;
  -webkit-box-shadow: 0px 2px 0px 0px #002917;
  box-shadow: 0px 2px 0px 0px #002917;
}
#page {

}

#menubar {
  position: absolute;
  top: 0px;
  height: 21px;
  width: 100%;
  z-index: 3;
  display: block;
  background-color: #005731;
  color: #fff;
  padding: 2px 5px 5px 5px;
  border-bottom: 2px solid #00331D;
}
#logo {
  width: 120px;
  float: left;
  font-size: 18px;
  color: #CCFF8B;
  padding-top: 2px;
}
.menu-item {
  width: 40px;
  padding: 6px 12px 3px 12px;
  text-align: center;
  float: left;
  -webkit-font-smoothing: antialiased;
  text-shadow: -1px -1px rgba(0, 0, 0, .3);
}
.menu-item:hover {
  background-color: #92cc47;
  border-radius: 5px 5px 0px 0px;
}
.menu {
  visibility: hidden;
  position: absolute;
  top: 30px;
  background-color: #92CC47;
  padding: 3px;
  padding: 8px;
  border-radius: 0 5px 5px 5px;
  width: 120px;
  margin-left: 8px;
  left: 117px;
}
#world {
  position: relative;
  width: 100%;
  height: 100%;
}
#control-pane {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 240px;
  height: 100%;
  background-color: #002314;
  z-index: 2;
  border-left: 2px solid #001207;
  color: #FFFFFF;
}
#header {
  background-color: #92cc47;
  height: 25px;
  width: 200px;
  position: absolute;
  top: 15px;
  right: 15px;
  box-shadow: 2px 2px 10px black;
  border-radius: 0px 5px 5px 0px;
  color: #fff;
  padding: 10px 0px 10px 25px;
  font-size: 24px;
}
#world-stats {
  position: absolute;
  top: 80px;
  padding: 20px;
  width: 200px;
}
.stat {
  height: 1px;
}
.stat-label {
  float: left;
  text-align: right;
  top: -10px;
}
.stat-data {
  float: right;
  color: #ffc757;
  font-size: 18px;
  text-align: left;
}
/*    INSET CONTROLS
 width: 220px;
 right: 8px;
 box-shadow: inset 1px 1px 8px rgba(0,0,0,.8);
 border-radius: 5px;
 */

/*box-shadow: inset 2px 2px 10px black; */

.popup_menu {
  background: #E4FFC1;
  border-radius: 16px;
  border: solid 1px rgba(86, 124, 86, 1);
  z-index: 101;
  clear: left;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -249px;
  width: 500px;
  height: 224px;
  color: #096F00;
}

.popup_menu_header {
  background-color: #004426;
  font-size: 22px;
  padding: 5px;
  border-radius: 15px 15px 0 0;
  border-bottom: solid 3px #002917;
  color: white;
}
.popup_menu_tabs {
  float: left;
  width: 100px;
  background: #2C7914;
  border-radius: 0 0 0 15px;
}
.menu_tile {
  width: 80px;
  height: 80px;
  background-color: #97DA42;
  color: white;
  margin: 8px;
  border-radius: 8px;
  display: table;
  cursor: pointer;
}

.menu_tile:hover {
  background-color: #B3FA58;
  border: 2px solid #BBFF65;
  height: 76px;
  width: 76px;
}

.menu_tile.selected {
  border: 3px solid #D8FFA7;
  height: 74px;
  width: 74px;
}

.menu_tile p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#world_uploader {
  visibility: hidden;
}

#world_defaults {

}
#world_defaults li {
  float: left;
}
button {
  background-color: #92CC47;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 5px 8px 5px 8px;
}
button:hover {
  background-color: #B3FA58;
}
#choose_world {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#critter_menu {
  visibility: hidden;
}
#world_menu {
  visibility: hidden;
}

#drop_zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold;
  color: #bbb;
  margin: 10px;
}
#drop_zone.in {
  background: black;
}
#drop_zone.hover {
  background: white;
}
#drop_zone.fade {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
}
#stats {
  top: 35px !important;
  left: 5px;
}

#info {
  color: #fff;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
}

a {
  color: skyblue
}